.p1 {
    background: rgba(128, 32, 32, 0.6);
}

.p2 {
    background-color: rgba(255, 255, 64, 0.07);
}

.p3 {
    background-color: rgba(127, 255, 127, 0.07);
}

.p4 {
    background-color: rgba(255, 127, 255, 0.07);
}

.p5 {
    background-color: rgba(79, 236, 236, 0.07);
}
